<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #todoForm="ngForm">


      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="todo.description"
          minlength="5"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter your task name"
          required #name="ngModel"
          >
      </div>
      <!-- [hidden]="!name.pristine" -->
      <div  *ngIf="name.errors?.minlength" class="alert alert-danger">Name must be atleast 5 characters</div>



      <div class="form-group">
        <label for="date">Date</label>

        <input type="date"
            [(ngModel)]="todo.targetDate"
            class="form-control"
            id="date"
            name="date"
            min={{minDate}}
            placeholder="Enter due date"
            required #date="ngModel">
          <div [hidden]="!date.pristine" class="alert alert-danger">Date must be in the future</div>
      </div>

      <div class="form-group">
        <label for="priority">Task Priority</label>
        <div>
        <input type="radio" [(ngModel)]="todo.priority" name="priority" value="1" required #priority="ngModel"> 🟢 Low Priority 🟢<br>
        <input type="radio" [(ngModel)]="todo.priority" name="priority" value="2" required #priority="ngModel"> ⚠️ Medium Priority ⚠️<br>
        <input type="radio" [(ngModel)]="todo.priority" name="priority" value="3" required #priority="ngModel"> 🚨 High Priority 🚨<br>
        <div [hidden]="!priority.pristine" class="alert alert-danger">Select a priority level for the task</div>
        </div>
      </div>

      <button type="submit" [disabled]="!todoForm.form.valid"
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
<hr> {{errorMessage}}
