<!-- <div class="card my-5"> -->
  <!-- <div class="card-body"> -->
    <!-- <table class="table table-dark table-striped"> -->
    <table class="table table-dark table-striped" >
      <thead class="thead-dark">
        <tr align="center" class="success">
          <th scope="col" width="5%">Priority</th>
          <th scope="col" >User</th>
          <th scope="col" >Task Name</th>
          <th scope="col" >Due Date</th>
          <th scope="col"  width="10%">Status</th>
          <th colspan="2"  width="10%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
            <td align="center"  *ngIf="todo.priority == 1 && todo.user == currentUser"> 🟢 </td>
            <td align="center"  *ngIf="todo.priority == 2 && todo.user == currentUser"> ⚠️ </td>
            <td align="center"  *ngIf="todo.priority == 3 && todo.user == currentUser"> 🚨 </td>
            <td align="left"    *ngIf="todo.user == currentUser">{{ todo.user }}</td>
            <td align="left"    *ngIf="todo.user == currentUser">{{ todo.description }}</td>
            <td align="center"  *ngIf="todo.user == currentUser">{{ todo.targetDate }}</td>
            <td align="center"  *ngIf="todo.status == true && todo.user == currentUser" title="Click to Un-Finish Task" onmouseover="" style="cursor: pointer;" a (click) = "toggleTodoStatus(todo)"> ✔️ </td>
            <td align="center"  *ngIf="todo.status == false && todo.user == currentUser" title="Click to Finish Task" onmouseover="" style="cursor: pointer;" a (click) = "toggleTodoStatus(todo)"> ❌ </td>
            <td align="center"  *ngIf="todo.user == currentUser"><a [routerLink]="['/edit', todo.id]" class="btn btn-success">Edit</a></td>
            <td align="center"  *ngIf="todo.user == currentUser"><a (click) = "deleteTodo(todo.id)" class="btn btn-secondary">Delete</a></td>

        </tr>
      </tbody>
    </table>
  <!-- </div> -->
<!-- </div> -->

<p>{{errorMessage}}</p>
