<div class="footer">
  <nav class="navbar navbar-expand-lg navbar-dark black ">
      <!-- <a class="navbar-brand" href="/">
          <img src="https://pbs.twimg.com/profile_images/758681040193851392/aPRm3RTp_400x400.jpg" width="100" height="100" alt="">
        </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <table class="table">

        <tr>
          <th scope="col">Contact Us:</th>
          <th scope="col">go@army.gov</th>
          <th scope="col">(806) 666-1234</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>

    </table>
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div ngbDropdown class="d-inline-block">
          <div class="row justify-content-center">
              <div class="col">
              <p class="footer-text">Contact Us:        go@army.gov           (806)666-1234</p>
              </div>
           </div>
      </div>
  </div> -->

  </nav>


</div>
